{% extends "layouts/base.html" %}
{% load allauth i18n crispy_forms_tags %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block hero_content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
      <div class="card">
        <div class="card-body p-5">
          <h1 class="mb-4 text-center">{% trans "Change Password" %}</h1>
          <form method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-lg w-100 mt-2">
              {% trans "Change Password" %}
            </button>
          </form>
          <div class="mt-3 text-center">
            <a href="{% url 'account_reset_password' %}" class="text-decoration-underline text-info">{% trans "Forgot Password?" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock hero_content %}